<div class="card-container">
  <div class="card">
    <!-- FRONT -->
    <div class="front">
      <div class="cover">
        <img src="assets/images/carte4.jpg" alt="cover">
      </div>
      <div class="user">
        <app-images [imageName]="profile.image"></app-images>
      </div>
      <div class="content">
        <div class="main">
          <h3 class="name">{{ profile.name }}</h3>
          <p class="profession">{{ profile.profession }}</p>
          <p class="text-center">"{{ profile.motto }}"</p>
        </div>
        
        <!-- FOOTER SUR LE DEVANT -->
      </div>
    </div>

    <!-- BACK -->
    <div class="back">
      <div class="header">
        <h5 class="motto">"{{ profile.motto }}"</h5>
      </div>
      <div class="content">
        <div class="main">
          <h4 class="text-center">Job Description</h4>
          <p class="text-center">{{ profile.jobDescription }}</p>

          <div class="stats-container">
            <div class="stats">
              <h4>{{ profile.followers }}</h4>
              <p>Followers</p>
            </div>
            <div class="stats">
              <h4>{{ profile.following }}</h4>
              <p>Following</p>
            </div>
            <div class="stats">
              <h4>{{ profile.projects }}</h4>
              <p>Projects</p>
            </div>
          </div>
        </div>
        
        <!-- FOOTER SUR LE DOS -->
        <app-card-footer></app-card-footer>
      </div>
    </div>
  </div>
</div>