.card-container {
  perspective: 1000px;
}

.card {
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

/* FRONT & BACK superposées */
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 4px;
}

/* FRONT visible */
.front {
  z-index: 2;
  transform: rotateY(0deg);
}

/* BACK cachée initialement */
.back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* FLIP AU HOVER */
.card-container:hover .card {
  transform: rotateY(180deg);
}
